.nav{

    height: 100%;
    width: 100%;
    grid-area: n;
    background-color: #2D3142;
    display: flex;
    flex-direction: column;
    .active{
        color: #fa6019;
        font-size: 19px;
    }
}
.item a{
    display: block;
    color: #fff;
    margin: 10px auto;
    padding: 0 0 0 5%;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

