.header {
    grid-area: h;
    background-color: #2D3142;
    // margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .blockLogo img {
        width: 100px;
    }
    .blockLogin {
        color: #fff;
        padding: 0 20px 0 0;
    }
}
