.wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logonBlock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
}